<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DYTIWL?</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:700" rel="stylesheet">
    <style>
      body {
        padding: 0px;
        background-color: black;
      }

      #log table {
        color: white;
        width: 200px;
        font-family: 'Roboto Mono', monospace;
        margin: 0 auto;
        margin-top: 200px;
      }

      #log th {
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="log">
      {{ log_str|safe }}
    </div>
  </body>
</html>
